if SHIELD_ERGOTRAVEL_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "ErgoTravel"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ERGOTRAVEL_LEFT || SHIELD_ERGOTRAVEL_RIGHT

config ZMK_SPLIT
    default y

endif

